@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Login</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

	<style>
	</style>
</head>

<body>
	<div class="row g-0">
		<div class="col g-0">
			<div class="w-100 min-vh-100 d-flex justify-content-center align-items-center">
				Left Side
			</div>
		</div>
		<div class="col g-0 d-none d-lg-block">
			<div class="w-100 min-vh-100 d-flex justify-content-center align-items-center bg-dark">
				<img src="~/images/logo/Zeus-04.png" alt="ZEUS" width="300" />
			</div>
		</div>
	</div>
</body>

</html>
