@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Login</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

	<style>
		div.dt-left-side, div.dt-right-side {
			width: 100%;
			height: 100vh;
		}

		div.dt-left-side {
			background-color: red;
		}

		div.dt-right-side {
			background-color: blue;
		}
	</style>
</head>

<body>
	<div class="row g-0">
		<div class="col">
			<div class="dt-left-side">
				Left Side
			</div>
		</div>
		<div class="col">
			<div class="dt-right-side">
				Right Side
			</div>
		</div>
	</div>
</body>

</html>
