@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Login</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />

	<style>
	</style>
</head>

<body class="bg-secondary">

	<div class="row bg-danger">
		<div class="col-md-4 col-sm-3 col-2 bg-info"></div>
		<div class="col-md-4 col-sm-6 col-8 bg-white border-2 border-dark shadow">

			<form class="bg-warning" autocomplete="off">
				<div class="form-group text-center">
					<img src="~/images/logo/Security.png" alt="Bootstrap" class="img-fluid" />
				</div>

				<h1 class="h3 text-center mt-3">
					Login
				</h1>

				<div class="form-group mt-3">
					<label for="emailAddress" class="form-label">Email Address</label>
					<input type="email" id="emailAddress" class="form-control"
						   placeholder="Email Address" required autofocus />
				</div>

				<div class="form-group mt-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" id="password" class="form-control"
						   placeholder="Password" required />
				</div>

				<div class="form-group form-check mt-3">
					<input type="checkbox" id="rememberMe" class="form-check-input" value="rememberMe" />
					<label class="form-check-label" for="rememberMe">
						Remember Me
					</label>
				</div>

				<div class="form-group text-center mt-3">
					<button type="submit" class="btn btn-primary">Login</button>
					<button type="reset" class="btn btn-primary">Reset</button>
				</div>

				<div class="text-center fs-6 mt-3">
					<hr />
					©2021 - <a href="https://aien.net/">ZEUS</a>
				</div>
			</form>

		</div>
		<div class="col-md-4 col-sm-3 col-2 bg-info"></div>
	</div>

</body>

</html>
