@model ViewModels.Account.LoginViewModel

@{
	Layout = "_LayoutAccount";
}

<form method="post" autocomplete="off" novalidate>
	<div class="form-group text-center">
		<img src="~/images/logo/Zeus-06.png" alt="ZEUS" class="img-fluid" style="max-width: 240px" />
	</div>

	<h1 class="h3 text-center mt-3">
		Login
	</h1>

	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="form-group mt-3">
		<div class="input-group">
			<label asp-for="EmailAddress" class="visually-hidden-focusable"></label>
			<span class="input-group-text bi-envelope"></span>
			<input asp-for="EmailAddress" class="form-control" placeholder="Email Address" />
		</div>
		<span asp-validation-for="EmailAddress" class="text-danger"></span>
	</div>

	<div class="form-group mt-3">
		<div class="input-group">
			<label asp-for="Password" class="visually-hidden-focusable"></label>
			<span class="input-group-text bi-key-fill"></span>
			<input asp-for="Password" class="form-control" placeholder="Password" />
		</div>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="form-group form-check mt-3">
		<input asp-for="RememberMe" class="form-check-input" />
		<label asp-for="RememberMe" class="form-check-label"></label>
	</div>

	<div class="form-group text-center mt-3">
		<button type="submit" class="btn btn-primary">Login</button>
		<button type="reset" class="btn btn-primary">Reset</button>
	</div>

	<div class="text-center fs-6 mt-3">
		<hr />
		©2021 - <a href="https://aien.net/">ZEUS</a>
		<br />
		<a href="#">Register</a> -
		<a href="#">Forgot Password</a>
	</div>
</form>
